/Acceso_a_datos/NetBeansProjects/Practica1/nbproject/private/
/Acceso_a_datos/NetBeansProjects/Practica1/build/
/Programacion_1DAM/Workspace_PRACT_Prog1/PracticaFinal/nbproject/private/
/Programacion_1DAM/Workspace_PRACT_Prog1/PracticaFinal/build/
/Programacion_1DAM/Workspace_PRACT_Prog1/PracticaFinal/dist/